/*--- css for final project ---*/

/*=======   GLOBAL   =======*/
html {
    background-color: #000;
    color: #fff;
}

body {
    padding-top: 100px;
    background-color: #000;
}

@font-face {
    font-family: font1;
    src: url(../fonts/LANENAR_.ttf);
}

/*=======   Header   =======*/
header h1 {
    float: left;
}

header ul {
    float: right;
    margin-top: 35px;
}

header ul li {
    display: inline;
    padding: 0 0 0 10px;
    font-family: 'Helvetica Neue, Helvetica, Liberation Sans, Arial', sans-serif;
    font-size: 14pt;
}

header ul li a {
    color: #33a1c9;
}

header {
    height: 100px;
}

.navbar-inverse {
    background-color: #000;
}

h1 {
    margin-top: 0px;
    color: #e6e6e6;
    font-size: 24pt;
    font-family: 'font1', sans-serif;
}

h1 span {
    color: #33a1c9;
    font-family: 'Helvetica Neue, Helvetica, Liberation Sans, Arial', sans-serif;
    font-size: 24pt;
    font-weight: lighter;
}

/*=======   Footer   =======*/
footer {
    height: 50px;
    color: #4d4d4d;
    padding-top: 20px;
}

footer ul li a {
    color: #33a1c9;
    padding: 0 0 0 10px;
    font-family: 'Helvetica Neue, Helvetica, Liberation Sans, Arial', sans-serif;
    font-size: 14pt;
    font-weight: lighter;
}

#footerpages {
    float: left;
    margin-left: 7.3018081%;
}

footer p {
    text-align: center;
}

#footerlinks {
    float: right;
    margin-right: 7.3018081%;
}

footer ul li {
    display: inline;
}


/*===================================       Index.html       ===================================*/

/*======= CTA Photo   =======*/
#ctaphoto {
    width: 100%;
    margin: 0;
}

#ctaphoto {
    width: 100%;
    margin: auto;
}

/*=======   Why Me   =======*/

h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #e6e6e6;
    font-size: 30pt;
    text-align: center;
}

#whyme {
    margin: 25px 7.3018081% 0 7.3018081%;
}

#whyme .row .col-md-4 {
    padding: 0 0 0 9%;/*60px*/
}

#whyme p {
    padding: 0 0 0 20%;
    font-family: 'font1', sans-serif;
    font-size: 21pt;
    color: #ececec;
    text-align: center;
}

#whyme div div p {
    width: 200px;
    padding: 0;
    
}

/*======= Recent Projects   =======*/
#recentprojects {
    margin: 25px 7.3018081% 0 7.3018081%;
}

#recentprojects .row {
    margin-top: 25px;
}

/*======= About Me   ========*/
#aboutme img {
    width: 375px;
}

#aboutme p, #aboutme ul li {
    font-family: 'Helvetica Neue, Helvetica, Liberation Sans, Arial', sans-serif;
    font-size: 14pt;
    color: #989898;
}

#aboutme {
    margin:25px 105px 50px 105px;
}

#aboutme h3 {
    margin-top: 0;
    text-align: center;
    font-family: 'font1', sans-serif;
    font-size: 21pt;
    color: #ececec; 
}

/*===================================       Portfolio.html       ===================================*/

#portfolio {
    margin: 125px 7.3018081% 0 7.3018081%;
}

#portfolio .row {
    margin-top: 10px;
}

#portfolio .col-md-3 {
    padding: 0 5px 0 5px;
}

#portfolio ul {
    text-align: center;
    margin: 0;
    padding: 0;
}

#portfolio ul li {
    display: inline-block;
    padding: 0 47px 0 47px;
}

#portfolio ul li button {
    width: 100px;
    height: 25px;
    font-size: 10pt;
    border-radius: 5px;
}

/*===================================       Pricing.html       ===================================*/

#pricingtable {
    margin: 125px 7.3018081% 0 7.3018081%;
}

#pricingtable .row .col-md-4 {
    padding: 0;
}

#pricingtable .row {
    padding: 0 0 25px 0;
}

#pricingtable h3,
#portfolio h4 {
    margin-top: 0;
    text-align: center;
    font-family: 'font1', sans-serif;
    font-size: 21pt;
    color: #ececec; 
}

ul li {
    color: #ebebeb;
    list-style-type: none;
    font-size: 18pt;
}

.essential {
    background-color: #666666;
    min-height: 600px;
    
    margin: 0 12px 0 12px;
}

.plus {
    background-color: #4d4d4d;
    min-height: 600px;
    
    margin: 0 12px 0 12px;
}

.luxury {
    background-color: #323232;
    margin: 0 12px 0 12px;
    min-height: 600px;
}

.circle {
  width:150px;
  height:150px;
  border-radius:150px;
  font-size:40px;
  color:#fff;
  line-height:150px;
  text-align:center;
  background:#000000;
  margin-left:125px;
  margin-top:35px;
}

.top {
    padding: 10px 0 0 0;
    text-align: center;
}

.bottom {
    text-align: left;
    margin: 40px 0 0 50px;
}

.bottom p {
    padding: 0 25px 0 25px;
}

.sign {
    margin: 0 0 0 100px;
    padding: 0 0 25px 0;
}

button {
    text-align: center;
    width: 200px;
    height: 50px;
    background-color: #ffc638;
    color: #323232;
    border: none;
    font-family: 'Helvetica Neue, Helvetica, Liberation Sans, Arial', sans-serif;
    font-size: 18pt;
    color: #323232;
}

.cyosubheading li {
    display: inline-block;
    text-align: center;
    padding: 0 25px 0 25px;
}

.cyosubheading {
    text-align: center;
}

.cyo {
    margin: 25px 15% 25px 15%;
}


/*===================================       Kind Words       ===================================*/

#kindwords {
    margin: 125px 7.3018081% 0 7.3018081%;
}

#kindwords  p {
    font-family: 'Helvetica Neue, Helvetica, Liberation Sans, Arial', sans-serif;
    font-size: 14pt;
    font-weight: lighter;
    color: #979797;
}

/*===================================       FAQ       ==========================================*/

 #faq {
    margin: 125px 7.3018081% 0 7.3018081%;
 }
 
 #faq  ul li {
    font-family: 'Helvetica Neue, Helvetica, Liberation Sans, Arial', sans-serif;
    font-size: 14pt;
    font-weight: lighter;
    color: #979797;
}

#faq ul li span {
    font-weight: bold;
}

/*===================================       Contact       ===========================================*/

.modal-content {
    background-image: url('../images/contactTexture.jpg');
    background-size: 100% 100%;
    width: 760px;
    border-radius: 0;
}

.modal-header span {
    margin: 0 0 0 75%;
    color: #000000;
}

.modal-title {
    text-align: center;
    margin-left: 25%;
}

.modal-header {
    border: none;
}

.modal-body {
    border: none;
}

.modal-body form {
    width: 400px;
    margin-left: 23.68421%;
}

.form-control {
    border-radius: none;
}

.modal-footer button {
    background-color: #ffc638;
    color: #323232;
    border-radius: 0;
    font-size: 24pt;
}

.modal-footer {
    border: none;
}







